button {
  border: none;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  padding: 15px 30px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  transition: background-color 0.2s ease-in-out;
}
