---
export interface Props {
  forHtml: string;
}

const { forHtml } = Astro.props;
---

<label for={forHtml} class="label">
  <slot />
</label>

<style>
  .label {
    align-items: center;
    background-color: var(--card-background);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin: 16px auto;
    padding: 16px;
    width: 100%;
  }
</style>
