---
export interface Props {
  forHtml: string;
}

const { props, props: { forHtml }} = Astro;
---

<label for={forHtml} class="label" {...props}>
  <slot />
</label>

<style>
  .label {
    align-items: center;
    background-color: var(--card-background);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 16px;
    width: 100%;
  }
</style>
