---
import Moon from '../assets/desktop/icon-moon.svg';
import Sun from '../assets/desktop/icon-sun.svg';
---

<div>
  <label class="theme-switcher-container" for="theme-switch">
    <img src={Sun} alt="sun-icon" class="theme-switcher-sun-icon" />
    <div class="theme-switch-container">
      <input type="checkbox" checked={false} onclick="changeTheme()" id="theme-switch" name="theme-switch" />
      <span class="slider"></span>
    </div>
    <img src={Moon} alt="moon-icon" class="theme-switcher-moon-icon" />
  </label>
</div>

<style>
  .theme-switcher-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  .theme-switcher-sun-icon {
    height: 20px;
    width: 19px;
  }
  .theme-switcher-moon-icon {
    height: 12px;
    width: 12px;
  }
  .theme-switch-container {
    background-color: white;
    border-radius: 12px;
    display: inline-block;
    padding: 5px;
    position: relative;
    height: 24px;
    width: 48px;
  }
  #theme-switch {
    height: 0;
    opacity: 0;
    width: 0;
  }
  .slider::before {
    background-color: var(--violet);
    border-radius: 50%;
    content: '';
    height: 14px;
    position: absolute;
    top: 5px;
    transition: transform 200ms;
    /* left: 5px; */
    transform: translateX(-5px);
    width: 14px;
  }
  #theme-switch:checked + .slider::before {
    /* left: unset; */
    transition: transform 200ms;
    transform: translateX(20px);
  }
</style>

<script is:inline>
  const storedTheme = localStorage.getItem('devjobs-theme');
  const themeSwitch = document.getElementById('theme-switch');
  const htmlTag = document.documentElement;
  const theme = htmlTag.getAttribute('data-theme');

  const updateThemeTag = (theme) => {
    htmlTag.setAttribute('data-theme', theme);
  };

  const updateCheckfield = (theme) => {
    if (theme === 'light') {
      themeSwitch.checked = false;
    } else {
      themeSwitch.checked = true;
    }
  };

  if (storedTheme && storedTheme !== theme) {
    updateThemeTag(storedTheme);
  }

  const updateStoredTheme = (theme) => {
    localStorage.setItem('devjobs-theme', theme);
  };

  const storeTheme = (theme) => {
    if (!storedTheme) {
      updateStoredTheme(theme);
    }
  };

  updateCheckfield(storedTheme);

  const changeTheme = () => {
    const theme = htmlTag.getAttribute('data-theme');
    if (theme === 'light') {
      updateThemeTag('dark');
      storeTheme('dark');
      updateStoredTheme('dark');
      updateCheckfield('dark');
    } else {
      updateThemeTag('light');
      storeTheme('light');
      updateStoredTheme('light');
      updateCheckfield('light');
    }
  };
</script>
